.user-main-dashboard {
  width: 100%;
  height: 73.438rem;
  position: relative;
  background-color: var(--color-aliceblue-100);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
