.sidenav-bg-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divider-vertical-icon {
  width: 0.063rem;
  height: 52.188rem;
  position: relative;
  display: none;
  z-index: 1;
}
.border,
.icon {
  position: relative;
}
.border {
  height: 1.5rem;
  width: 0.125rem;
  background-color: var(--color-mediumslateblue-100);
  display: none;
}
.icon {
  height: 1rem;
  width: 1rem;
  object-fit: cover;
}
.account,
.icon-text {
  align-self: stretch;
  flex: 1;
}
.account {
  position: relative;
  font-weight: 600;
  opacity: 0.8;
}
.icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.icon-left {
  height: 0.75rem;
  width: 0.75rem;
  position: relative;
  display: none;
}
.badge {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.icon-right {
  height: 1rem;
  width: 1rem;
  position: relative;
  display: none;
}
.elements {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.badgebase,
.x-badge {
  flex-direction: column;
  justify-content: flex-start;
}
.badgebase {
  width: 1.75rem;
  flex: 1;
  border-radius: var(--br-81xl);
  background-color: var(--color-lavender-100);
  display: flex;
  align-items: center;
  padding: var(--padding-11xs) var(--padding-3xs);
  box-sizing: border-box;
}
.x-badge {
  height: 1.188rem;
  display: none;
  align-items: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-mediumslateblue-100);
}
.content,
.nav-itemdefault {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.content {
  height: 3.063rem;
  flex: 1;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.nav-itemdefault {
  align-self: stretch;
}
.icon1 {
  height: 1rem;
  width: 1rem;
  position: relative;
}
.nav-user {
  width: 13.125rem;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.image-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.indicator {
  height: 31.52%;
  width: 31.52%;
  top: -1.96%;
  right: -1.96%;
  bottom: 70.43%;
  left: 70.43%;
  border-radius: 50%;
  background-color: var(--color-mediumaquamarine);
  border: 0 solid var(--gray-white);
  box-sizing: border-box;
}
.avatarmain,
.indicator,
.mj {
  position: absolute;
}
.mj {
  width: 72.39%;
  top: 32.39%;
  left: 13.91%;
  display: none;
  align-items: center;
  justify-content: center;
}
.avatarmain {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-mediumslateblue-100);
}
.avatarbase {
  height: 2.875rem;
  width: 2.875rem;
  position: relative;
}
.x-avatar {
  display: flex;
  justify-content: flex-start;
}
.nav-itemdefault2,
.nav-user1,
.x-avatar {
  flex-direction: row;
  align-items: center;
}
.nav-user1 {
  width: 10.125rem;
  display: none;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 3;
  text-align: center;
  font-size: var(--paragraph-lead-size);
}
.nav-itemdefault2 {
  width: 13.125rem;
}
.badgebase3,
.icon-text3,
.nav-itemdefault2,
.x-badge3 {
  display: flex;
  justify-content: flex-start;
}
.icon-text3 {
  height: 1.063rem;
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.badgebase3,
.x-badge3 {
  flex-direction: column;
}
.badgebase3 {
  width: 2.25rem;
  flex: 1;
  border-radius: var(--br-81xl);
  background-color: var(--color-mistyrose);
  align-items: center;
  padding: var(--padding-11xs) var(--padding-3xs);
  box-sizing: border-box;
}
.x-badge3 {
  align-self: stretch;
  align-items: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-salmon);
}
.content3 {
  height: 3.188rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.content3,
.menu,
.nav-itemdefault3 {
  justify-content: flex-start;
}
.nav-itemdefault3 {
  width: 16rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  z-index: 4;
}
.divider-horizontal-icon {
  width: 13.125rem;
  height: 0;
  position: relative;
  display: none;
  z-index: 5;
}
.border6 {
  height: 1.5rem;
  width: 0.125rem;
  position: relative;
  background-color: var(--gray-white);
}
.messages {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 600;
}
.content6,
.nav-itemdefault6,
.x-badge6 {
  display: flex;
  justify-content: flex-start;
}
.x-badge6 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-xs);
}
.content6,
.nav-itemdefault6 {
  flex: 1;
  flex-direction: row;
  align-items: center;
}
.content6 {
  align-self: stretch;
  padding: var(--padding-base) var(--padding-3xl);
  gap: var(--gap-3xs);
}
.nav-itemdefault6 {
  height: 3.188rem;
}
.badge7 {
  flex: 1;
  position: relative;
}
.elements7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
  gap: var(--gap-7xs);
}
.badgebase7,
.menu1,
.x-badge7 {
  flex-direction: column;
  justify-content: flex-start;
}
.badgebase7 {
  width: 3.625rem;
  border-radius: var(--br-81xl);
  background-color: var(--color-lavender-100);
  display: none;
  align-items: center;
  padding: var(--padding-11xs) var(--padding-3xs);
  box-sizing: border-box;
}
.menu1,
.x-badge7 {
  align-items: flex-start;
}
.x-badge7 {
  align-self: stretch;
  width: 1.75rem;
  display: flex;
  font-size: var(--font-size-xs);
  color: var(--color-mediumslateblue-100);
}
.menu1 {
  width: 15.625rem;
  display: none;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  z-index: 6;
}
.label {
  position: relative;
  line-height: 1rem;
  display: inline-block;
  min-width: 2.875rem;
}
.button,
.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button {
  border-radius: var(--br-71xl);
  background-color: var(--color-gray-100);
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-47xl);
  z-index: 1;
}
.button-wrapper {
  width: 29.575rem;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--headline-3);
}
.welcome-to-medai {
  margin: 0;
  align-self: stretch;
  height: 3.313rem;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 3rem;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.breaking-barriers-in {
  position: relative;
  line-height: 1.875rem;
  z-index: 1;
}
.breaking-barriers-in-healthcar-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: left;
  font-size: var(--paragraph-lead-size);
  font-family: var(--headings-h6);
}
.welcome-to-medai-connect-parent {
  width: 29.563rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.437rem;
  max-width: 100%;
  text-align: center;
  font-size: var(--headline-3-size);
  font-family: var(--headline-3);
}
.ant-designpicture-filled-icon {
  width: 14rem;
  height: 14rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 9;
}
.aside,
.form-help-text1 {
  display: flex;
  align-items: center;
}
.aside {
  width: 39.638rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-66xl) var(--padding-xl) 19.125rem var(--padding-2xl);
  box-sizing: border-box;
  position: relative;
  gap: 15rem;
  min-width: 39.638rem;
  max-width: 100%;
}
.form-help-text1 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 0.75rem;
  height: 100%;
}
.form-help-text {
  height: 0.75rem;
  width: 28.619rem;
  position: relative;
  display: none;
  max-width: 100%;
  font-size: var(--font-size-2xs);
  color: var(--color-slategray-300);
}
.content-container-wrapper {
  width: 26.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 5.937rem;
  box-sizing: border-box;
  min-width: 26.5rem;
  min-height: 43.938rem;
  max-width: 100%;
}
.container,
.user-login {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.container {
  width: 79.5rem;
  border-radius: var(--br-mini);
  background-color: var(--gray-white);
  flex-shrink: 0;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 7.112rem;
  max-width: 100%;
  text-align: left;
  font-size: var(--headings-h6-size);
  color: var(--gray-white);
  font-family: var(--headings-h6);
}
.user-login {
  width: 100%;
  position: relative;
  background-color: var(--color-aliceblue-100);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-38xl) var(--padding-xl) 3.625rem;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .aside,
  .content-container-wrapper {
    flex: 1;
  }
  .container {
    gap: 3.563rem;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .welcome-to-medai {
    font-size: var(--font-size-13xl);
    line-height: 2.375rem;
  }
  .aside {
    padding-top: var(--padding-36xl);
    padding-bottom: 12.438rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .welcome-to-medai-connect-parent {
    gap: var(--gap-8xl);
  }
  .aside {
    gap: 7.5rem;
    min-width: 100%;
  }
  .content-container-wrapper {
    padding-bottom: 3.875rem;
    box-sizing: border-box;
    min-width: 100%;
  }
  .container {
    gap: var(--gap-9xl);
  }
}
@media screen and (max-width: 450px) {
  .welcome-to-medai {
    font-size: var(--font-size-5xl);
    line-height: 1.813rem;
  }
  .aside {
    gap: var(--gap-41xl);
    padding-top: var(--padding-17xl);
    padding-bottom: 8.063rem;
    box-sizing: border-box;
  }
}
