.navbar-container {
  display: flex;
  justify-content: space-between; /* Distribute brand and right content */
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #ddd;
  width: 100%;
  padding-right: 60px; /* Ensure full width of the container */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  display: flex;
  flex-direction: column; /* Stack the brand on two lines */
  align-items: flex-start; /* Align text to the start */
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0); /* Set font color to black */
}

.brand-line {
  line-height: 1.2; /* Adjust line height for better spacing */
  
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.notification-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  font-size: 24px;
}


.notification-icon {
  font-size: 24px;
  color: black;
}

.user-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
