.title- {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.1px;
  line-height: 136.02%;
  font-weight: 600;
  font-family: inherit;
}
.title-1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 1.625rem;
  text-align: center;
}
.form-container,
.title-parent {
  display: flex;
  align-items: flex-start;
}
.title-parent {
  width: 12.938rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.form-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.form-title {
  align-self: stretch;
  position: relative;
  font-size: var(--headings-h6-size);
  font-weight: 500;
  font-family: var(--headings-h6);
  color: var(--color-darkslategray-100);
  text-align: left;
}
.first-form-field,
.input {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-aliceblue-200);
  height: 2.875rem;
  border-radius: var(--br-7xs);
  flex-direction: row;
  padding: var(--padding-mini-5) var(--padding-base) var(--padding-base-5);
  box-sizing: border-box;
  font-family: var(--headings-h6);
  font-weight: 500;
  font-size: var(--font-size-mini);
  color: var(--color-slategray-100);
  min-width: 15.625rem;
}
.first-form-field {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.form-help-text10 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-2xs);
  line-height: 0.75rem;
  font-family: var(--headings-h6);
  color: var(--color-slategray-200);
  text-align: right;
}
.label2 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 1rem;
  display: inline-block;
  font-family: var(--headline-3);
  color: var(--color-gray-100);
  text-align: center;
  min-width: 3.25rem;
}
.button2,
.form-fields {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--color-gray-400);
  border-radius: var(--br-71xl);
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
}
.button2:hover {
  background-color: var(--color-darkslategray-200);
}
.form-fields {
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  gap: var(--gap-11xl);
}
.span {
  color: var(--color-darkslategray-100);
}
.sign-up {
  color: var(--color-gray-400);
}
.label3 {
  position: relative;
  line-height: 1.5rem;
  font-weight: 600;
}
.content-container,
.label-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.label-wrapper {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  text-align: right;
  font-size: var(--headings-h6-size);
  color: var(--color-slategray-300);
}
.content-container {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  text-align: left;
  font-size: var(--headings-h2-size);
  color: var(--color-gray-200);
  font-family: var(--headings-h6);
}
@media screen and (max-width: 450px) {
  .title- {
    font-size: var(--font-size-3xl);
    line-height: 1.875rem;
  }
  .content-container {
    gap: var(--gap-8xl);
  }
}
