.title-2,
.title-3 {
  align-self: stretch;
  position: relative;
}
.title-2 {
  margin: 0;
  font-size: inherit;
  line-height: 136.02%;
  font-weight: 600;
  font-family: inherit;
}
.title-3 {
  font-size: var(--font-size-base);
  line-height: 1.625rem;
}
.form-header {
  width: 26.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
}
.form-title3 {
  align-self: stretch;
  position: relative;
  font-size: var(--headings-h6-size);
  font-weight: 500;
  font-family: var(--headings-h6);
  color: var(--color-darkslategray-100);
  text-align: left;
}
.first-name-field,
.input3,
.name-fields {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.first-name-field {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8xl);
}
.input3,
.name-fields {
  flex-direction: row;
}
.name-fields {
  align-self: stretch;
}
.input3 {
  width: 26.5rem;
  border: 0;
  outline: 0;
  background-color: var(--color-aliceblue-200);
  height: 2.875rem;
  border-radius: var(--br-7xs);
  padding: var(--padding-mini-5) var(--padding-mini) var(--padding-base-5);
  box-sizing: border-box;
  font-family: var(--headings-h6);
  font-weight: 500;
  font-size: var(--font-size-mini);
  color: var(--color-slategray-100);
}
.input-fields {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-9xs);
  gap: var(--gap-5xs);
  max-width: 100%;
}
.confirm-password-field,
.input-fields,
.input4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.input4 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-aliceblue-200);
  align-self: stretch;
  height: 2.875rem;
  border-radius: var(--br-7xs);
  flex-direction: row;
  padding: var(--padding-mini-5) var(--padding-base) var(--padding-base-5);
  font-family: var(--headings-h6);
  font-weight: 500;
  font-size: var(--font-size-mini);
  color: var(--color-slategray-100);
  min-width: 15.625rem;
}
.confirm-password-field {
  width: 26.5rem;
  flex-direction: column;
  padding: 0 0 var(--padding-9xs);
  gap: var(--gap-5xs);
  max-width: 100%;
}
.date-of-birth,
.terms-help {
  position: relative;
  font-family: var(--headings-h6);
  text-align: left;
}
.terms-help {
  align-self: stretch;
  font-size: var(--font-size-2xs);
  line-height: 0.75rem;
  color: var(--color-slategray-300);
}
.date-of-birth {
  font-size: var(--headings-h6-size);
  font-weight: 500;
  color: var(--color-darkslategray-100);
  display: inline-block;
  min-width: 5.313rem;
}
.d-o-b-input {
  width: 26.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.gender {
  position: relative;
  font-size: var(--headings-h6-size);
  font-weight: 500;
  font-family: var(--headings-h6);
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
  min-width: 3.125rem;
}
.checkboxsingledefault {
  margin: 0;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
}
.by-creating-an {
  font-family: var(--headings-h6);
}
.text- {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 1.25rem;
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
  min-width: 16rem;
  max-width: 100%;
}
.agreement {
  width: 26.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.label4 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 1rem;
  display: inline-block;
  font-family: var(--headline-3);
  color: var(--color-gray-100);
  text-align: center;
  min-width: 3.688rem;
}
.button3,
.d-o-b-field {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--color-gray-400);
  width: 26.5rem;
  border-radius: var(--br-71xl);
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
}
.button3:hover {
  background-color: var(--color-darkslategray-200);
}
.d-o-b-field {
  margin: 0;
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.span3 {
  color: var(--color-darkslategray-100);
}
.sign-in {
  color: var(--color-gray-400);
}
.label5 {
  position: relative;
  line-height: 1.5rem;
  font-weight: 600;
}
.copyright,
.form-container1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.copyright {
  width: 26.406rem;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: right;
  font-size: var(--headings-h6-size);
  color: var(--color-slategray-300);
}
.form-container1 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-14xl);
  text-align: left;
  font-size: var(--headings-h2-size);
  color: var(--color-gray-200);
  font-family: var(--headings-h6);
}
@media screen and (max-width: 450px) {
  .title-2 {
    font-size: var(--font-size-3xl);
    line-height: 1.875rem;
  }
  .agreement {
    flex-wrap: wrap;
  }
  .form-container1 {
    gap: var(--gap-base);
  }
}
