.frame-child1 {
  height: 5.438rem;
  width: 5.438rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.ellipse-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-35xl) 0 var(--padding-34xl);
}
.dr-jane-doe1 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.dr-jane-doe-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  font-size: var(--paragraph-lead-size);
  color: var(--color-black);
  font-family: var(--headings-h6);
}
.specialist-cardiology1 {
  flex: 1;
  position: relative;
  line-height: 1.25rem;
}
.specialist-cardiology-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
}
.stars1-5google-starsgoogle-s-icon2 {
  align-self: stretch;
  height: 0.813rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.stars1-5google-starsgoogle-s-container {
  width: 4.625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.reviews3 {
  flex: 1;
  position: relative;
  line-height: 1.25rem;
  white-space: pre-wrap;
  display: inline-block;
  min-width: 4.625rem;
}
.frame-parent3,
.frame-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-7xs);
}
.frame-parent3 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.view-container {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-lavender-200);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-22xl) var(--padding-6xs)
    var(--padding-23xl);
}
.frame-parent2,
.frame-wrapper2,
.name-card1,
.view-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-8xl);
  color: var(--color-blue);
}
.frame-parent2,
.name-card1 {
  flex: 1;
  overflow: hidden;
}
.frame-parent2 {
  flex-direction: column;
  padding: var(--padding-smi) var(--padding-4xl) var(--padding-4xs);
  gap: var(--gap-sm-5);
}
.name-card1 {
  box-shadow: 0 4px 13.6px -4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--gray-white);
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-xs);
  text-align: center;
  font-size: var(--headings-h6-size);
  color: var(--color-dimgray);
  font-family: var(--body-regular-400);
}
@media screen and (max-width: 450px) {
  .frame-parent4 {
    flex-wrap: wrap;
  }
}
