.reviewer-image-icon {
  height: 2.813rem;
  width: 2.813rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.days-ago,
.peter-briers {
  position: relative;
  font-weight: 500;
}
.peter-briers {
  align-self: stretch;
}
.days-ago {
  font-size: var(--font-size-xs);
  color: var(--color-darkgray-200);
  display: inline-block;
  min-width: 3.938rem;
}
.reviewer-info,
.reviewer-name-and-date {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reviewer-name-and-date {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.reviewer-info {
  width: 19rem;
  flex-direction: row;
  gap: var(--gap-4xl);
}
.dr-john-doe2 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.dr-john-doe-provided-excellen-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
  box-sizing: border-box;
  font-size: var(--headings-h6-size);
}
.dr-john-doe-provided-excellen-wrapper,
.review-content,
.review-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.review-details {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.review-content {
  flex-direction: row;
  padding: 0 var(--padding-11xl) 0 var(--padding-4xl);
}
.review-1,
.review-content,
.review-divider {
  align-self: stretch;
  flex-shrink: 0;
  box-sizing: border-box;
}
.review-divider {
  height: 0.063rem;
  position: relative;
  border-top: 1px solid var(--color-lightgray);
}
.review-1 {
  height: 7.813rem;
  background-color: var(--gray-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 var(--padding-6xl);
  gap: var(--gap-6xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--headings-h6);
}
