.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 300px; /* Adjust the width of the form */
  margin: 0 auto; /* Center the form horizontally */
  border-radius: 10px;
  align-items: center;
}

.sign-up-form p {
  text-align: end;
  margin: 5px;
  font-size: 14px;
}

.sign-up-form img {
  padding: 15px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

label {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
}

input,
select {
  width: 424px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgba(237, 242, 247, 1);
}

.sign-up-button {
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  font-size: 16px;
  width: 424px;
  margin: 15px;
  transition: color 0.3s ease; /* Smooth hover effect */
}

.sign-up-button:hover {
  background-color: rgba(11, 76, 174, 1);
}

.custom-link {
  color: #777E90; /* Choose your preferred color */
  text-decoration: none; /* Remove underline */
  font-weight: bold;
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.custom-link:hover {
  color: #363636; /* Change color on hover */
}

.google-button img {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
}

.google-button:hover img {
  transform: scale(1.1); /* Slightly enlarge the image on hover */
}
